*
{
    margin: 0;
    padding: 0;
    font-family: "regular-font",serif;
    image-rendering: crisp-edges;
}

a
{
    text-decoration: inherit;
    color: inherit;
}

@font-face {
    font-family: "NicerNightie";
    src: url("NicerNightie.ttf");
}

@font-face {
    font-family: "regular-font";
    src: url("font.ttf");
}

body
{
    background-color: black;
}

#wrapper
{
    margin: 0px auto;
    width: 505px;
    position: relative;
    top: 240px;
}

#board
{

}

#board table
{
    width: 100%;
}

#board table td
{
    height: 50.4px;
}

#board img
{
    width: 32px;
    transform: scale(0.5);
    image-rendering: crisp-edges;
}

#arrow-right, #arrow-left
{
    cursor: pointer;
}

#arrow-right:hover, #arrow-left:hover
{
    opacity: 0.5;
}

#inventory
{
    color: white;
    margin-top: 15px;
}

#inventory table
{
    border-collapse: collapse;
    border: 3px double white;
    border-radius: 2px;
    color: white;
    width: 100%;
}

#inventory table tr td
{
    border: 1px solid white;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: black;
}

#inventory table tr td:hover
{
    cursor: pointer;
    filter: invert();
}

#dialogue-box
{
    border: 3px double white;
    border-radius: 2px;
    font-family: "regular-font";
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 260px;
    width: 100%;
    letter-spacing: 0.3em;
}

#narration-wrapper
{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#choices-wrapper
{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: black;
    background-color: white;
}

#choices-wrapper #choice:hover
{
    opacity: 0.5;
    cursor: crosshair;
}

#separator
{
    background-color: white;
    height: 3px;
    width: 100%;
}

/* ===== */

#inventory-crappy-sword:hover .coupontooltip {
    display: block;
}


.coupontooltip {
    display: none;
    background: black;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    text-align: left;
    font-size: 15px;
    width: 200px;
    border: 3px double white;
    line-height: 15px;
}